html,
body {
    /*background: linear-gradient(#e66465, #9198e5, #e66465, #9198e5, #e66465, #9198e5);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    background: #2e2f30;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}