.header {
  width: 100%;
}

.desktop_menu {
  display: none;
}


@media (min-width: 688px) {
  .desktop_menu {
    display: flex;
    justify-content: center;
    backdrop-filter: blur(20px);
    position: relative;
    z-index: 9999;
  }
}