.heading {
 .headingcontainer {
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    color: white;
    font-size: 20px;
    position: relative;
    border: 1px white solid ;
    padding: 2px 20px;
    font-weight: bold;
      &::after {
       position: absolute ;
       top: -1px;
       left: -12px;
       content: '';
       height: 35.5px;
       width: 150px;
       border-top: 1px white solid;
       border-bottom: 1px white solid;
     } 
  }
 }
}