.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    padding: 20px;
    .headingcontainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        &::after {
            position: absolute ;
            content: '';
            top: 51px;
            height: 51px;
            border-left: 1px white solid;
        }
        h1 {
            color: white;
            font-size: 20px;
            font-weight: bold;
            border: 1px white solid;
            padding: 10px;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &::after {
                position: absolute ;
                content: '';
                height: 51px;
                width: 160px;
                border-top: 1px white solid;
                border-bottom: 1px white solid;
            }
        }
    }
    .list {
        margin-top: 51px;
        padding: 100px 0;
        border-top: 1px white solid ;
        border-bottom: 1px white solid ;
        .item {
            padding: 10px;
            margin: 50px 10px;
            margin-bottom: 100px;
            border: 1px white solid;
            position: relative;
            .img {
                padding: 10px;
                border: 1px white solid  ;
            }
            .description {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 20px;
                padding: 20px;
                h1, h2 {
                    text-align: center;
                    color: white;
                    text-transform: uppercase;
                    font-weight: 800;
                    font-size: 15px;
                    margin: 10px;
                    position: relative ;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 4px 8px;
                    border: 1px white solid;
                }
                h2 {
                    margin-top: 40px;
                }
                p {
                    text-align: justify;
                    color: white;
                    font-size: 14px;
                }
                ol {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin: 10px 0;
                    margin-bottom: 20px;
                    li {
                        color: yellow ;
                        font-size: 13px;
                        text-align: left;
                    }
                }
            }
            .icons {
                .icon, .icon2 {
                    position: absolute;
                    bottom: -1px;
                    font-size: 35px;
                    color: white;
                    font-weight: bold;
                    border: 1px white solid;
                    padding: 6px;
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        transform: scale(1.1);
                        color: #232b34;
                        border: 1px white solid;
                        background: white;
                    }
                }
                .icon2 {
                    position: absolute;
                    right: -1px;
                }
                .icon {
                    position: absolute;
                    left: -1px;
                }
            }
        }
    }
}


@media (min-width: 688px) {
    .portfolio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 200px;
        padding: 20px;
        .headingcontainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            &::after {
                position: absolute ;
                content: '';
                top: 51px;
                height: 51px;
                border-left: 1px white solid;
            }
            h1 {
                color: white;
                font-size: 20px;
                font-weight: bold;
                border: 1px white solid;
                padding: 10px;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                &::after {
                    position: absolute ;
                    content: '';
                    height: 51px;
                    width: 160px;
                    border-top: 1px white solid;
                    border-bottom: 1px white solid;
                }
            }
        }
        .list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            .item {
                padding: 0;
                margin: 40px;
                border: 1px white solid;
                position: relative;

                .description {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-top: 20px;
                    h1, h2 {
                        text-align: center;
                        color: white;
                        text-transform: uppercase;
                        font-weight: 800;
                        font-size: 15px;
                        margin: 10px;
                        position: relative ;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        padding: 4px 8px;
                        border: 1px white solid;
                    }
                    h2 {
                        margin-top: 40px;
                    }
                    p {
                        text-align: justify;
                        color: white;
                        font-size: 14px;
                    }
                    ol {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin: 10px 0;
                        margin-bottom: 20px;
                        li {
                            color: yellow ;
                            font-size: 13px;
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
}